//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends network_layout

block net_content

  h4 for member
    a(href='../' + member.address)  #{member.address}

  form(method='POST' action='')
    .radio
      label
        input(type='radio' name='authorized' value='true' checked=member.authorized)
        | Yes
    .radio
      label
        input(type='radio' name='authorized' value='false' checked=!member.authorized)
        | No

    .form-group(style='padding-top: 10px')
      button.btn.btn-primary(type='submit') Submit
      = ' '
      a.btn.btn-default(href='../' + member.address name='cancel' role='button') Cancel

    if errors
      ul
        for err in errors
          li!= err.msg
