//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends login_layout

block login_content
  h1!= title

  h2
    a(href='https://zerotier.com' target='_blank') ZeroTier 
    | network controller UI
