//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends network_layout

block net_content
  h4
    | for member #{member.name} (#{member.address}) in network

  each value, key in member
    .row
      .col-sm-2
        a(href=('/controller/network/' + member.nwid + '/member/' + member.address + '/' + key)) #{key}:
      .col-sm-10
        +json_value(value)

  a.btn.btn-default(href=('/controller/network/' + member.nwid + "#members") name='networks' role='button' style='margin-top: 10px;')
    | Members
