//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends network_layout

block net_content
  script.
    $(function() {
      $('.checkbox').on('click', function() {
        $.post('', {'zt': $('#v4AssignModeCheckBox').is(':checked')});
      });
    });

  form(method='POST' action='')
    table.table.table-responsive.table-striped.table-hover
      tr
        td(width='3%')
          input#v4AssignModeCheckBox.checkbox(type='checkbox' checked=(network.v4AssignMode.zt? true : false))
        td Auto-assign from IP Assignment Pool

  if errors
    ul
      for err in errors
        li!= err.msg
