//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends network_layout

block net_content
  - if (member !== undefined)
    h4 for member
      a(href='../' + member.address)  #{member.address}
  h4 Editing of
    b  #{title}
    |  has not been implemented.

  h4
    | Note that you may be able to edit some properties on the 
    strong
      a(href='/controller/network/' + network.nwid + '#members') Members
    |  page.
