//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends users_layout

block users_content
  if message
    .row
      .col-sm-12
        .alert.alert-info
          strong= message

  form.form-horizontal(method='POST' action='')
    .form-group.row
      .col-sm-2
        label(for='username') Username:
      .col-sm-10
        .input-group
          span.input-group-addon
            i.glyphicon.glyphicon-user
          input#username.form-control(type='text' name='username' placeholder='Enter username' value=user.name readonly=readonly)

    .form-group.row
      .col-sm-2
        label(for='password1') Enter new password:
      .col-sm-10
        .input-group
          span.input-group-addon
            i.glyphicon.glyphicon-lock
          input#password1.form-control(type='password' name='password1' placeholder='Enter new password' value=(undefined===user.password1? '' : user.password1))

    .form-group.row
      .col-sm-2
        label(for='password2') Re-enter password:
      .col-sm-10
        .input-group
          span.input-group-addon
            i.glyphicon.glyphicon-lock
          input#password2.form-control(type='password' name='password2' placeholder='Re-enter password' value=(undefined===user.password2? '' : user.password2))

    .form-group.row
      .col-sm-2
        label(for='pass_set') Change password on next login:
      .col-sm-10
        input#pass_set(type='checkbox' name='pass_set' value='check')

    .form-group.row
      .col-sm-2
      .col-sm-10
        button.btn.btn-primary(type='submit') Set password
        = ' '
        a.btn.btn-default(href='/users' name='cancel' role='button') Cancel

  if errors
    .form-group.row
      .col-sm-12
        ul
          for err in errors
            li!= err.msg
