//-
  ztncui - ZeroTier network controller UI
  Copyright (C) 2017-2021  Key Networks (https://key-networks.com)
  Licensed under GPLv3 - see LICENSE for details.

extends head_layout

block nav_items
  +nav_item('controller_home', 'Home', '/controller')
  +nav_item('users', 'Users', '/users')
  +nav_item('networks', 'Networks', '/controller/networks')
  +nav_item('create_user', 'Create user', '/users/create')

block body_content
  .container(style='margin-top:50px')
    .row
      .col-sm-12
        if error
           b #{error}
        else
          h1= title
          block users_content
